.geolocation {
    display: inline-block;
}

.geolocation__dropdown-list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.geolocation__dropdown-menu {
    min-width: 600px;
    padding: 10px 20px 5px;
}

.geolocation__dropdown-menu-header {
    margin-bottom: 10px;
    font-size: 18px;
}

.geolocation__dropdown-search {
    margin-bottom: 10px;
}

.geolocation__dropdown-item {
    width: 33.33%;
    padding: 5px 0;
}

.geolocation__dropdown-counter{
    margin-bottom: 5px;
}

.ui-front.ui-autocomplete{
    z-index: 1001;
}